<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://pinnpublic.dothome.co.kr/cdn/example-min.css">
</head>
<body>

<h2>Join</h2>
<form method="POST" action="/joinok">
    <table>
        <tr>
            <th>아이디</th>
            <td><input type="text" name="id" required></td>
        </tr>
        <tr>
            <th>암호</th>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr>
            <th>이름</th>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <th>닉네임</th>
            <td><input type="text" name="nickName" required></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td><input type="text" name="tel" required></td>
        </tr>
        <tr>
            <th>주소</th>
            <td><input type="text" name="address" required></td>
        </tr>
    </table>
    <div>
        <button>가입하기</button>
    </div>
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">
</form>
</body>
</html>












